.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #ffffff;
}
.navbar li {
  list-style: none;
}
.btn {
  border: none;
  padding: 16px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 35px;
  background-color: #ff9900;
}
.home-container {
  height: 80vh;
  background-color: #faebd8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.data-container {
  padding: 16px;
  color: #808080;
}
span {
  color: #f78ec3;
}
.img-container img {
  height: 200px;
  width: 200px;
}
