.button__container {
  padding-top: 1rem;
  position: fixed;
}
.button__container-btn {
  height: 60px;
  width: 60px;
  position: absolute;
  left: 4rem;
  border: none;
  border-radius: 50%;
  background-color: #4fe3a4;
}
button .button__container-btn {
  position: fixed;
}
