.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date {
  display: flex;
  gap: 5px;
  color: #5e6170;
  align-items: center;
}
.day {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
}
.month {
  font-size: 0.8rem;
  color: #989aa4;
  font-weight: bold;
}
.year {
  font-size: 0.8rem;
  color: #919191;
}
.weekday {
  font-size: 0.9rem;
  font-weight: bold;
  color: #747272;
}
