.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0efe9;
}
.main {
  width: 12rem;
  padding: 3rem 2rem;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px -2px #757575;
}
